@import "tailwindcss";

@theme {
  --color-button-color: #0071E3;
  --color-description: #A1A1A1;
  --color-title: #FFFFFF;
  --color-heading: #0071E3;
  --color-dropshadow-color: #0071E366;
  --color-border-color: #1C2A3F;
  --color-input-label: #D4D4D4;
}